.container{
  max-width: 70rem;
  margin: 0 auto;
}



.divorizontal{
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

.hero-cabecalho{
  width: 72.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
  align-items: center;
  position: relative;

  .hero-cabecalho-logo img{
    width: 6.5625rem;
    height: auto;
  }

  .hero-cabecalho-search{
    border: 1px solid #dddddd;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2.8125rem;
    gap: 0.625rem;
    width: 29.75rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .divertical{
      border-left: 1px solid #dddddd;
      height: 1.7rem;
    }

    .search-lugar{
      display: flex;
      align-items: center;
      img{
        width: 3rem;
        height:  3rem;
      }
    }
  
    .search-icon{
      width: 2.0625rem;
      height: 2.0625rem;
      border-radius: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ff385c;
    
      .fa-magnifying-glass{
        color: white;
      }
    }
  }

  .hero-cabecalho-buttons{
    display: flex;
    width: 16.5625rem;
    justify-content: space-between;

    .cabecalho-buttons-round{
      display: flex;
      gap: 0.825rem;
      .button-round-gray{
      height: 2.5rem;
      width: 2.5rem;
      background-color: #f2f2f2;
      border-radius: 3.125rem;

      img{
        width: 1rem;
        margin-top: 0.3rem;
        height: auto;
      }

      .fa-bars{
        font-size: 0.9rem;
        color: #222222;
      }
    }
    }
  }
}

.destaques{
  padding: 1.875rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  position: relative;

  .destaques-textos{
    display: flex;
    justify-content: space-between;

    .destaques-buttons{
      display: flex;
      gap: 0.9rem;
      button{
        display: flex;
        gap: 0.3125rem;
        align-items: center;
      }
    }
  }


  .galeria-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
    border-radius: 50rem;
    grid-template-areas: 'geral geral'
                        'geral geral';

  .fotos-casa:nth-child(1){
    width: 100%;
    height: auto;
    grid-area: geral;
    border-radius: 0.95rem 0rem 0rem 0.95rem;
  }
  
  .fotos-casa:nth-child(3){
    border-radius: 0 12px 0 0;
  }

  .fotos-casa:nth-child(5){
    border-radius: 0 0 12px 0;
  }

  .fotos-casa:nth-child(2),
  .fotos-casa:nth-child(3),
  .fotos-casa:nth-child(4),
  .fotos-casa:nth-child(5){
    width: 100%;
    height: 100%;
}
}

.show-fotos{
  padding: 0.3125rem 1.0625rem;
  position: absolute;
  right: 1.5rem;
  bottom: 3rem;
  background-color: white;
  border-radius: 8px;

  button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img{
      width: 1rem;
      height: auto;
    }
  }
}
}

.informacoes-e-aside{
  display: flex;
  justify-content: space-between;
  /* ajustar */
}

.reserva-noites{
  align-self: flex-start;
  position: sticky;
  top: 2.5rem;
  padding-left: 4.0625rem;
  .confirmar-reserva{
    border: 1px solid #dddddd;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);;
    width: 23.9375rem;
    height: 19.875rem;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .reserva-selecao-dias{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 20.75rem;
      height: 7.25rem;
      border-radius: 10px;
      border: 1px solid black;
      position: relative;
  
      .check-in{
        width: 10.3125rem;
        border-right: 1px solid black;
        input{
          width: 8.75rem;
        }
      }
      .reserva-hospedes{
        grid-column: 1/3;
        overflow: hidden;
        width: 20.6875rem;
        border-top: 1px solid black;
        select{
          background-image: url('./assents/img/seta.png');
          background-repeat: no-repeat;
          background-position: right 0.5rem top; 
          background-size: 1rem;
          width: 19.2rem;
        }
      }
    }
  
    .reserva-confirmar{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      gap: 1.25rem;
      a{
        display: inline-block;
        background-color: #ff385c;
        border-radius: 50rem;
        text-align: center; 
        line-height: 3.125rem;
        height: 3.125rem;
        width: 20.75rem;
      }
    }
  
    .valor-diaria{
      display: flex;
      margin-bottom: 1.25rem;
      width: 20.75rem;
      align-items: center;
      gap: 0.3125rem;
    }
  
    .inputs{
      display: flex;
      flex-direction: column;
      padding-left: 0.8rem;
      align-items: baseline;
      justify-content: center;
      label{
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .aside-denuncia{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1.8rem;
    color: #6A6A6A;
    img{
      width: 1rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }
}


.informacoes-imovel{
  display: flex;
  flex-direction: column;
  width: 42rem;
  .informacoes-gerais{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-bottom: 2rem;

    div{
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-top: 0.2rem;
      .fa-star{
        font-size: 0.5rem;
      }
    }
  }

  .informacoes-anfitrian{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
    img{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }

  .iformacoes-conteudo-casa{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 0.5rem;
    margin: 2.18rem 0 2.3rem 0;

    .conteudo{
      display: flex;
      position: relative;

      img{
        position: absolute;
        width: 1.5rem;
        height: auto;
      }

      .descricao{
        padding-left: 3.2rem;
      }
    }
  }

  .texto-descritivo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.31rem 0 2.9rem 0;

    button{
      width: 9.375rem;
      height: 3.125rem;
      background-color: #f2f2f2;
      border-radius: 12px;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .oque-oferece{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3.4rem 0 3rem 0;
    :nth-child(9), :nth-child(10){
      text-decoration: line-through;
    }
    .todos-beneficios{
      margin-top: 0.8rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .beneficio{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        img{
          width: 1.8rem;
          height: auto;
        }
      }
    }
    button{
      width: 19.4375rem;
      height: 3.125rem;
      background-color: #f2f2f2;
      border-radius: 12px;
      font-size: 15px;
      font-weight: 500;
      margin-top: 1rem;
    }
  }

  .tempo-estadia{
    margin: 3.375rem 0 3.375rem 0;
  }
}